body {
	overflow: hidden;
	height:100%;
	margin:0; 
	padding:0;
}
  
#editor { 
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#bounds{
	position: absolute;
	bottom:0px;
	left:0;
	width:100%;
	height:500px;
	z-index:9;
	pointer-events: none;
}

#slidebottom {
	pointer-events: auto;
	position: absolute;
	left:0;
	width:100%;
	height:62px;
	z-index:2;
	text-align:center;
	bottom:0;
	
	font-size:14px;
	line-height: 25px;  
    color: #CCCCCC; 
	font-weight: normal;
	font-family:'Trebuchet MS',Arial, Helvetica;
	overflow:hidden;
}

#tab{
	position: relative;
	height:58px;
	width:98%;
	cursor: pointer;
	text-align:left;
	overflow:hidden;
}


#icon{
	height:48px;
	width:80%;
	background-image:url('img/User-Files-icon.png');
	background-repeat:no-repeat;
	background-position:left center;
	z-index:9999;
	display:block;
	padding-left:56px;
}

#desc{
	font-size:11px;
	color: #CCCCCC; 
	font-style:italic;
	display:block;
	margin-top:4px;
}

#chat{
	position: relative;
	height:300px;
	width:95%;
	margin:0 auto;
	text-align:left;
	
	background-color:#333333;
	border-left:solid 2px #555555;
	border-right:solid 2px #555555;
	border-bottom:solid 2px #555555;
	overflow:hidden;
}

#messages{
	height:300px;
	width:76%;
	float:left;
	font-size:12px;
	margin-right:2%;
}

#users{
	height:228px;
	width:15%;
	float:left;
	margin:20px 1% 20px 2%;
	padding:1.5%;
	
	border:2px solid #999999;
	background-color:#EEEEEE;
	color:#222222;
	overflow: auto;
}

#users p{
	margin:0;
	background: url('img/edit-user-icon.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:22px;
	
}

#history{
	margin:20px 0px 10px 0px;
	padding:1% 1% 1% 1%;
	height:168px;
	width:97%;
	border:2px solid #999999;
	background-color:#EEEEEE;
	color:#222222;
	overflow: auto;
}

#history p{
	margin:0;
}
#history user{
	margin:0;
	padding-left:22px;
}

#input{
	height:50px;
	width:97%;
	padding:1% 1% 1% 1%;
	
	border:2px solid #999999;
	background-color:#EEEEEE;
	color:#222222;
	font-size:14px;
	resize: none;
}

/* --- */
.button
{
    /*margin: 10px 10px 0px 10px;*/
    text-decoration: none;
    font: bold 1.5em 'Trebuchet MS',Arial, Helvetica; /*Change the em value to scale the button*/
    display: inline-block;
    /*text-align: center;*/
    color: #fff;

    border: 1px solid #9c9c9c; /* Fallback style */
    border: 1px solid rgba(0, 0, 0, 0.3);            

    text-shadow: 0 1px 0 rgba(0,0,0,0.4);

    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);

}

.button, .button #texture
{
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.button #texture
{
    border-top: 1px solid #fff; /* Fallback style */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 10px 30px 10px 30px;
	height:40px;

    /* The background pattern */

    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
                      -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);

    /* Pattern settings */

    -moz-background-size: 3px 3px;
    -webkit-background-size: 3px 3px;
}

.button:hover
{
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
	opacity:1.0;
}

.button:active
{
    /* When pressed, move it down 1px */
    position: relative;
    /*top: 1px;*/
}

.button-black
{
    background: #444444;
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#444444) );
    background: -moz-linear-gradient(-90deg, #777777, #444444);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#777777', EndColorStr='#444444');
}

.button-black:hover
{
    background: #777777;
    background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#777777) );
    background: -moz-linear-gradient(-90deg, #444444, #777777);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#444444', EndColorStr='#777777');
}

.button-black:active
{
    background: #444444;
}