body {
	font-size: 10pt;
	color: #333;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

div#editable { 
	width: 100%;
	margin-top: 25px;
	padding-top: 5px;
	background-color: #fff;
	min-height: 100px;
	list-style-type:none;
/* 	font-size: 16px; */
	border: 1px solid black;
}

div#code, div#text { 
	width: 100%;
	margin-top: 25px;
	padding-top: 5px;
	background-color: #fff;
	min-height: 100px;
	list-style-type:none;
/* 	font-size: 16px; */
	border: 1px solid black;
}

div#status, div#status2 {
	width: 100%;
	margin-top: 25px;
	padding-top: 5px;
	height: 40px auto;
	min-height: 40px;
/* 	font-size: 16px; */
	border: 1px solid black;
}