article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
* { margin: 0; padding: 0; }


.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

body {
	font-size: 10pt;
	color: #333;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	background: rgb(237, 237, 236);
}

h2{
	margin-top:10px;
}

header div#title{
	font-size:30px;
	font-weight:bold;
}

div#wrapper{
	width:700px;
	margin: 0 auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:white;
	padding:30px;
	border: 1px dotted black;
}

footer{
	width:760px;
	margin:0 auto;
	padding-top:7px;
	margin-bottom:40px;
	letter-spacing:2px;
	text-shadow: white 1px 1px 0px;
}

footer span#right{
	text-align:right;
	float:right;
}

div#editable { 
	width: 100%;
	margin-top: 25px;
	padding-top: 5px;
	background-color: #fff;
	min-height: 100px;
	list-style-type:none;
/* 	font-size: 16px; */
	border: 1px dotted black;
	background-color: #fffeef;
	
	-webkit-line-break: after-white-space;
	-webkit-nbsp-mode: space;
	-webkit-user-modify: read-write;
}

div#editable:focus {outline: none;}

div#editable p{
	margin:auto;
}

div#code, div#text { 
	width: 100%;
	margin-top: 25px;
	padding-top: 5px;
	background-color: #fff;
	min-height: 100px;
	list-style-type:none;
/* 	font-size: 16px; */
	border: 1px solid black;
}

div#operations{
	height:140px;
}

div#one, div#two {
	width: 50%;
	margin-top: 10px;
	padding-top: 5px;
	height: 40px;
	float:left;
}

div#two {
	text-align:right;
}

div#sent, div#received {
	width: 100%;
	height: 70px;
	border: 1px solid black;
	padding:4px;
	overflow: auto;
}

div#received {
	border-left-style:none;
}